body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.container{
  width: 400px;
  height: 100vh;
  border: yellow solid 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  border: white solid 1px;
  position: relative;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

p{
  color: white;

}
